/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@font-face {
  font-family: Epilogue;
  src: url(../fonts/epilogue/Epilogue-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@import url('./reset.css');
@import url('./1_header.css');
@import url('./2_hero.css');
@import url('./3_about_us.css');
@import url('./4_catalog.css');
@import url('./5_new_watches.css');
@import url('./6_sale.css');
@import url('./7_footer.css');
@import url('./8_bay_now.css');
@import url('./9_burger.css');
@import url('./slayder.css');


:root {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}